*
{
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: rgb(253, 248, 248);
    
    
}
    body{
    font-family: "LATO",sans-serif;
    
    
}
img{width: 300px;
    height: 200X;

}
.logo {
    background-color: white;
    width: 85%;
    

}


.sidebar a { 
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(253, 94, 73);
    display: block;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
    margin-bottom: 3px;

    

}
.sidebar a:hover{
    color: rgb(247, 168, 64);
    animation: forwards;
    transform: matrix3d(5px);
    
}


.sidebar{
    height: max-content;
    width: 200px;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0px;
    border-radius: 6PX;
    box-shadow: 4px 4px 15px black;

}
nav{
    position: top;
    padding: 5px 5px;
}

.logo h1{text-align: center;
    
}
h2{
    margin-left: 220px;
    padding: 5px 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding-top: 2px;
}
p{
    margin-left: 220px;
    padding: 2PX;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
table{
    margin-left: 220px;
    
}
tr,td{
    padding: 4PX 4PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
}