*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(232, 240, 245);
}

.flt{
    width: 11%;
    height: 5%;
    background-color: rgb(148, 203, 224);
    border-radius: 5px;
    margin: 60px;
    box-shadow: 4px 4px 15px black;
    display: inline-block;
}
.image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.text{
    text-align : center;
}
.link
{
    background-color: #e8f8fa;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid bisque;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;


}
button:hover{
    background-color: rgb(117, 221, 221);
    
    color: black;
    transition: 0.8s;
   }
    
   h4{
    text-align: center;
    color: rgb(45, 89, 170);
    font-size: x-large;
    font-weight: 600;
    padding: 20px;
   }
   h2{
    padding: 10px;
    color:rgb(19, 145, 124);
   }
   p{
    padding: 5px;
    font-size: larger;
   }
   h1{
     font-family: serif;
    font-weight: 1200;
    font-size: 40px;
    color: rgba(20, 107, 95, 0.877)
    
   }
   nav{
    
    overflow: hidden;
    width: 100%;
     background-color: aqua;
    text-decoration: none;
    position: top;
    
    
   }
   
    a{
        text-decoration: none;
        color: #1f7783;
        padding: 10px;
        overflow: hidden;
        text-align: center;
    }
a:hover{
    background-color: rgb(71, 163, 163);
    
    color: black;
    transition: 0.8s;

}
   
footer{
    background-color: #1f7783;
    height: 100PX;
    width: 100%;
    margin-top: 70px;
}